html { background-color: #fff;}

.dark{
    background-color: #fff;
}

.customCard{
    background-color: darkgoldenrod;
    color: white;
}

.customCard2{
    background-color: #7c7803;
    color: white;
}

.customCard3{
    background-color: #08003c;
    color: white;
}

.customCard4{
    background-color:darkolivegreen;
    color: white;
}

.customCard6{
    background-color: rgb(0, 0, 48);
    color: whitesmoke;
}

.customCard5{
    background-color:darkgreen;
    color: white;
}

.card10{
    background-color: rgba(145, 210, 144);
    color: white;
}

.card11{
    background-color: rgb(111, 183, 214);
    color: white;
}

.extracustom{
    background-color:gray;
}

.space{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.sidespace{
    margin-right: 10px;
    margin-left: 10px;
}

.vertspace{
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto{
    color: black;
}
