<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link type="text/css" rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/nouislider.min.css"/>
    <link rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/style.css"/>
  
</head>

<!-- SECTION TIENDAS -->
<div class="section" *ngIf="tiendas.length > 0">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">TIENDAS</h3>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- grid -->
            <ng-container *ngFor= "let tienda of tiendas">
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <img src="{{tienda.logo}}" height="300" width="300">
                        <div class="shop-body">
                            <h3>{{tienda.nombre}}</h3>
                              <a href="javascript:void(0)"class="cta-btn"(click)="forward_tienda_select(tienda.nombre)">
                                View <i class="fa fa-arrow-circle-right"></i>
                              </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- productos -->
<div class="section" *ngIf="productos.length > 0">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">PRODUCTOS</h3>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <table>
                                    <ng-container *ngFor= "let producto of productos">
                                        <div class="col-md-4 col-xs-6">
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="{{producto.imagen}}" height="300" width="300">
                                                </div>
                                                <div *ngIf="is_admin; else isNotAdmin">
                                                  <div class="product-body">
                                                      <p class="product-category">Cantidad disponible:  {{producto.cantidad}}</p>
                                                      <h3 class="product-name"><a href="#">{{producto.nombre}}</a></h3>
                                                      <h4 class="product-price">Q {{producto.precio}}</h4>
                                                      <div class="product-btns">
                                                          <button class="add-to-wishlist" (click)="forward_product_edit(producto)">
                                                            <i class="fa fa-pencil"></i></button>
                                                          <button class="add-to-wishlist" (click)="forward_product_delete(producto.id)">
                                                            <i class="fa fa-times" aria-hidden="true"></i></button>
                                                      </div>
                                                  </div>
                                                </div>
                                                  <ng-template #isNotAdmin>
                                                    <div class="product-body">
                                                        <p class="product-category">Cantidad disponible:  {{producto.cantidad}}</p>
                                                        <h3 class="product-name"><a href="#">{{producto.nombre}}</a></h3>
                                                        <h4 class="product-price">Q {{producto.precio}}</h4>
                                                        <div class="product-btns">
                                                            <input class="form-control" type="number" 
                                                            [(ngModel)]="cantidades[producto.id]" 
                                                            [min]="1" [max]="producto.cantidad"
                                                            placeholder="Ingrese la cantidad que desea" height="100">
                                                        </div>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <button class="add-to-cart-btn" (click)="forward_product_cart(producto)">
                                                          <i class="fa fa-shopping-cart"></i> add to cart
                                                        </button>
                                                    </div>
                                                  </ng-template>
                                            </div>
                                        </div>
                                    </ng-container>
                                </table>
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->


<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">GRUPO #5</h3>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="https://renato776.github.io/ccv-assets/js/jquery.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/bootstrap.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/slick.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/nouislider.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/jquery.zoom.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/main.js"></script>
