<div id="header" *ngIf="tienda">
    <div class="container">
        <ng-container>
            <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="product-img">
                        <img src="{{tienda.logo}}" height="250" width="270">
                    </div>
                  </div>
                  <div class="col">
                    <div class="section-title">
                        <h1 class="title" style="color:#f5f5f5;">{{tienda.nombre}}</h1>
                        <h5 class="title" style="color:#f5f5f5; font-style: italic;">"{{tienda.slogan}}"</h5>
                        <br>
                    </div>
                    <h5 class="title" style="color:#f5f5f5; text-align: justify">"{{tienda.descripcion}}"</h5>
                  </div>
                  <div class="col">
                  </div>
                  <div class="col">
                  </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
