<app-card-tienda [tienda]="Alpha.tienda" ></app-card-tienda>

<div class="card mx-auto extracustom" style="width: 130rem; margin-top: 10px; margin-bottom: 10px;">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <h6>Enlaza un departamento a esta tienda</h6>
            </div>
            <div class="row">
                <div class="col-sm-10">
                <select class="browser-default custom-select" (change)="selectOption($event.target.value)" [(ngModel)]="selected">
                    <option *ngFor='let dep of departamentos' [value]="dep">{{dep}}</option>
                  </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning" (click)='enlazar()'> Enlazar </button>
            </div>
        </div>
        </div>
    </div>
</div>

<app-grid-component
    [productos]="Alpha.productos" [tiendas]="[]" [is_admin]="true"
    (product_edit)="update_producto($event)" (product_delete)="delete_producto($event)"
></app-grid-component>
