<table>
  <tr>
    <td>
      <div class="dark">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="campo_busqueda" >
        </div>
      </div> 
    </td>
    <td>
      <div >
        <button (click)="search()"  class="btn btn-outline-secondary" type="button">Buscar</button>
      </div>
    </td>
  </tr>
</table>
