/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE 
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  color: #2e2e2e;
}

::-webkit-selection {
  color: #ffffff;
  background: #28bbf8;
}

::-moz-selection {
  color: #ffffff;
  background: #28bbf8;
}

::selection {
  color: #ffffff;
  background: #28bbf8;
}

a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

figure.fh5co-with-caption {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
figure.fh5co-with-caption img {
  margin-bottom: 0 !important;
}
figure.fh5co-with-caption figcaption {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
  color: #7b7b7b;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-size: 30px;
  line-height: 42px;
}

h2, .h2 {
  font-size: 26px;
  line-height: 38px;
}

h3, .h3 {
  font-size: 20px;
  line-height: 32px;
}

h4, .h4 {
  font-size: 16px;
  line-height: 28px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 24px;
}

h6, .h6 {
  font-size: 12px;
  line-height: 24px;
}

ul, ol {
  padding-left: 15px;
  line-height: 26px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

p, img {
  margin: 0 0 20px 0;
}

ul, ol {
  padding-left: 15px;
  line-height: 24px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

#fh5co-header {
  position: absolute;
  width: 100%;
}
#fh5co-header .fh5co-nav-toggle-white {
  color: #ffffff;
}
#fh5co-header #fh5co-logo {
  margin-top: 50px;
  z-index: 17;
  position: relative;
}
#fh5co-header #fh5co-logo a {
  display: block;
}

#fh5co-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  height: 650px;
  z-index: 8;
}
#fh5co-hero a {
  border-bottom: 1px solid #28bbf8;
  color: #ffffff;
}
#fh5co-hero .fh5co-hero-btn {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  #fh5co-hero .fh5co-hero-btn {
    width: 100%;
    display: block;
  }
}
#fh5co-hero .fh5co-hero-text-wrap {
  padding-top: 100px;
  height: 650px;
  display: table;
  width: 100%;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-hero-text-wrap {
    padding-top: 0px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-hero .fh5co-hero-text-wrap {
    padding-top: 0px;
  }
}
#fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  color: #fff;
}
#fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text .fh5co-uppercase-heading-sm {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 6px;
}
#fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text h1 {
  font-size: 100px;
  line-height: 112px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text h1 {
    font-size: 80px;
    line-height: 92px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text h1 {
    font-size: 40px;
    line-height: 52px;
  }
}
#fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text p {
  font-size: 30px;
  line-height: 42px;
  font-family: "Playfair Display", serif;
}
#fh5co-hero .fh5co-hero-text-wrap .fh5co-hero-text p em {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
#fh5co-hero .fh5co-bg-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

main[role="main"], #fh5co-blog {
  padding: 5em 0 3em 0;
}
@media screen and (max-width: 768px) {
  main[role="main"], #fh5co-blog {
    padding: 3em 0 1em 0;
  }
}
@media screen and (max-width: 768px) {
  main[role="main"], #fh5co-blog {
    padding: 2em 0 .5em 0;
  }
}

.fh5co-heading-with-border {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.fh5co-heading-with-border .fh5co-border {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #28bbf8;
  height: 2px;
  width: 30px;
}
.fh5co-heading-with-border .fh5co-border.fh5co-border-gray {
  background: #ebebeb;
}

.fh5co-em {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.fh5co-section-heading {
  text-align: center;
  margin-bottom: 80px;
}
.fh5co-section-heading > h2 {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.fh5co-section-heading > h3 {
  color: #062430;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 42px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .fh5co-section-heading > h3 {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-section-heading > h3 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-section-heading > h3 {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
  }
}

#fh5co-crew {
  background: #28bbf8;
  padding: 5em 0;
}
#fh5co-crew .fh5co-section-heading {
  text-align: center;
  margin-bottom: 100px;
}
#fh5co-crew .fh5co-section-heading > h2 {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  #fh5co-crew {
    padding: 3em 0;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-crew {
    padding: 2em 0;
  }
}
#fh5co-crew img {
  border-radius: 4px;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-portfolio > .row {
  border-bottom: 1px solid #ebebeb;
}
#fh5co-portfolio > .row.last {
  border-bottom: none !important;
}

#fh5co-services .fh5co-service {
  margin-bottom: 50px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-services .fh5co-service {
    margin-bottom: 50px;
    margin-top: 30px;
    clear: both;
    float: left;
  }
}
#fh5co-services .fh5co-service > a {
  position: relative;
  text-align: center;
  float: left;
  display: block;
  color: #2e2e2e;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border-width: 0;
  padding: 90px 45px 45px 45px;
  margin-bottom: 30px;
}
#fh5co-services .fh5co-service > a .fh5co-service-icon {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  font-size: 40px;
  top: 0;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background: #ffffff;
  width: 100px;
  height: 100px;
  display: table;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
}
#fh5co-services .fh5co-service > a .fh5co-service-icon > i {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-services .fh5co-service > a:hover .fh5co-service-icon {
  background: #28bbf8;
  color: #ffffff;
  margin-top: -60px;
}

#fh5co-main-nav-wrap {
  display: none;
}

.nav-active #fh5co-main-nav-wrap {
  overflow: auto;
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 19;
  height: 100%;
  width: 100%;
}
.nav-active #fh5co-main-nav-wrap .fh5co-nav-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav-active #fh5co-main-nav-wrap .fh5co-nav-inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1001;
  position: relative;
  overflow-y: scroll;
}
.nav-active #fh5co-main-nav-wrap #fh5co-main-nav {
  text-align: center;
  padding: 0;
  margin: 30px 0;
  z-index: 1001;
}
.nav-active #fh5co-main-nav-wrap #fh5co-main-nav li {
  list-style: none;
  padding: 0;
  margin: 0 0 0px 0;
  opacity: 0;
}
.nav-active #fh5co-main-nav-wrap #fh5co-main-nav li a {
  font-size: 40px;
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  display: block;
  padding: 30px 0;
}
.nav-active #fh5co-main-nav-wrap #fh5co-main-nav li a:hover {
  color: #28bbf8;
}
.nav-active #fh5co-main-nav-wrap #fh5co-main-nav li.active a {
  color: #28bbf8;
}
.nav-active #fh5co-main-nav-wrap .fh5co-social {
  color: #ffffff;
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 0;
}
.nav-active #fh5co-main-nav-wrap .fh5co-social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.nav-active #fh5co-main-nav-wrap .fh5co-social li a {
  padding: 4px 10px;
}

.fh5co-post-entry {
  margin-bottom: 50px;
}
.fh5co-post-entry .fh5co-blog-date {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}
.fh5co-post-entry .fh5co-blog-title > a {
  display: block;
}

footer {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  background: #2e2e2e;
  color: #7b7b7b;
  float: left;
  width: 100%;
}
footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #ccc !important;
}
footer > .container {
  padding-top: 4em;
  padding-bottom: 4em;
}
footer address {
  font-weight: 400;
  font-size: 13px;
}
footer a {
  color: #ccc;
}
footer a:hover, footer a:active, footer a:focus {
  text-decoration: underline;
  color: #ffffff;
}
footer .fh5co-footer-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  color: #ccc;
  margin-bottom: 2s0px;
}
footer .fh5co-footer-links {
  padding-left: 0;
  margin-left: 0;
}
footer .fh5co-footer-links li {
  list-style: none;
  padding: 0;
  margin: 0 0 .5em 0;
}
footer .fh5co-footer-social {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  footer .fh5co-footer-social {
    float: left !important;
    width: 100% !important;
  }
}
footer .fh5co-footer-social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
footer .fh5co-footer-social li a {
  font-size: 20px;
  padding: 4px 7px;
}

.fh5co-copyright {
  padding: 3em 0;
  margin-top: 5em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 768px) {
  .fh5co-copyright {
    float: left !important;
    width: 100% !important;
  }
}

.fh5co-nav-toggle {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #ffffff;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #fff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #fff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* Button placement */
.fh5co-nav-toggle {
  position: absolute;
  left: 20px;
  margin-left: 0px;
  top: 20px;
  margin-top: 0px;
  z-index: 21;
}

/* 
========================================

Components 

========================================
*/
/* Buttons */
.btn {
  font-family: "Montserrat", sans-serif;
  border-bottom: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none !important;
  border-color: transparent;
}
.btn.fh5co-btn-icon {
  text-transform: none !important;
  letter-spacing: normal !important;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  border: 2px solid #282e3c !important;
  background: #282e3c;
  color: #ffffff;
}

.btn-primary {
  background: #28bbf8;
  border: 2px solid #28bbf8;
}

.btn-success {
  background: #00e195;
  border: 2px solid #00e195;
}

.btn-danger {
  background: #e02745;
  border: 2px solid #e02745;
}

.btn-info {
  background: #0bbff2;
  border: 2px solid #0bbff2;
}

.btn-warning {
  background: #ffd042;
  border: 2px solid #ffd042;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
}

.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background: #282e3c;
  color: #ffffff;
}

.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #28bbf8;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #28bbf8;
}

/* Easy Rsponsive Tabs */
.fh5co-tab {
  clear: both;
  display: block;
}

.resp-tab-active {
  color: #28bbf8;
}

.resp-tabs-list li {
  font-family: "Montserrat", sans-serif;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.fh5co-tab-menu-icon {
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-menu-icon {
    margin-top: 7px;
  }
}

/* Pricing Tables */
.fh5co-pricing-table-1 {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 992px) {
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
    float: left;
    width: 100%;
  }
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body,
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  text-align: center;
  float: left;
  width: 100%;
  padding: 1em 2em;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  background: #28bbf8;
  color: #ffffff;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 {
  font-size: 70px;
  position: relative;
  display: inline-block;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup {
  position: absolute;
  top: 2px;
  margin-left: -7px;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup, .fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 span {
  font-size: 14px;
  text-transform: uppercase;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-heading {
  background: #28bbf8;
  color: #ffffff;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body {
  border: 2px solid #ccc;
  border-top: none;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul {
  padding: 0;
  margin: 0;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-body {
  border: 2px solid #28bbf8;
  border-top: none;
}

/* Features*/
/* Feature 1 */
.fh5co-feature-1 .fh5co-feature-figure {
  margin-top: 5em;
}
@media screen and (max-width: 768px) {
  .fh5co-feature-1 .fh5co-feature-figure {
    text-align: center !important;
    margin-top: 0em;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-feature-1 .fh5co-feature-figure img {
    display: inline-block;
    margin: 0 auto;
  }
}
.fh5co-feature-1 .fh5co-feature-blurb ul {
  padding: 0;
  margin: 5em 0 0 0;
}
@media screen and (max-width: 480px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul {
    margin: 2em 0 0 0;
  }
}
.fh5co-feature-1 .fh5co-feature-blurb ul li {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
  list-style: none;
}
.fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
  float: right;
  width: 85%;
}
@media screen and (max-width: 992px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
    width: 80%;
  }
}
.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
  float: left;
  width: 15%;
}
.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon i {
  font-size: 40px;
  color: #28bbf8;
}
@media screen and (max-width: 992px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
    width: 10%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
    width: 20%;
  }
}
.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-title {
  letter-spacing: 2px;
  margin-bottom: 0 !important;
}

/* Feature 2*/
.fh5co-feature-2 .fh5co-feature-item {
  margin-bottom: 30px;
}
.fh5co-feature-2 .fh5co-feature-title {
  letter-spacing: 2px;
}
.fh5co-feature-2 .fh5co-feature-icon {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.fh5co-feature-2 .fh5co-feature-icon i {
  font-size: 50px;
  color: #28bbf8;
}
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle {
  display: table;
  width: 100px;
  height: 100px;
  margin: 0 auto 2em auto;
  border: 2px solid #eaeaea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}

/* Feature 3 */
.fh5co-feature-3 .fh5co-feature-item {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .fh5co-feature-3 .fh5co-feature-item {
    display: block;
  }
}
.fh5co-feature-3 .fh5co-feature-icon {
  float: left;
  width: 15%;
  clear: right;
}
@media screen and (max-width: 480px) {
  .fh5co-feature-3 .fh5co-feature-icon {
    width: 20%;
  }
}
.fh5co-feature-3 .fh5co-feature-icon i {
  font-size: 30px;
  color: #28bbf8;
}
.fh5co-feature-3 .fh5co-feature-blurb {
  float: right;
  width: 85%;
}
@media screen and (max-width: 480px) {
  .fh5co-feature-3 .fh5co-feature-blurb {
    width: 80%;
  }
}

.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

.fh5co-letter-space {
  letter-spacing: 4px;
}

.fh5co-link {
  font-family: "Montserrat", sans-serif;
}
.fh5co-link > i {
  margin-right: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fh5co-link:hover > i {
  margin-right: 15px;
}

/* Spacer */
.fh5co-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.fh5co-spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xlg {
    height: 70px;
  }
}

.fh5co-spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-lg {
    height: 50px;
  }
}

.fh5co-spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-md {
    height: 30px;
  }
}

.fh5co-spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-sm {
    height: 20px;
  }
}

.fh5co-spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xs {
    height: 20px;
  }
}

.fh5co-spacer-xxs {
  height: 20px;
}

.fh5co-letter-spacing {
  letter-spacing: 1px;
}

.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

.fh5co-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}

.form-group {
  margin-bottom: 30px;
}

.image-popup:hover {
  opacity: .7;
}

.fh5co-call-to-action {
  background-color: #28bbf8;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.fh5co-call-to-action .fh5co-call-to-action-text {
  font-size: 50px;
  line-height: 60px;
  font-family: "Playfair Display", serif;
}
.fh5co-call-to-action > .fh5co-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-call-to-action .fh5co-call-to-action-wrap {
  position: relative;
  height: 400px;
  display: table;
  width: 100%;
}
.fh5co-call-to-action .fh5co-call-to-action-wrap .fh5co-call-to-action-inner {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  width: 100%;
}

/* Accordions */
.fh5co-accordion .panel-title > a:hover {
  border-bottom: none !important;
}
.fh5co-accordion .panel-heading {
  background: transparent;
  position: relative;
  cursor: pointer;
}
.fh5co-accordion .panel-heading .accordion-toggle {
  color: #28bbf8;
}
.fh5co-accordion .panel-heading .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e622";
  right: 15px;
  top: 16px;
}
.fh5co-accordion .panel-heading.collapsed .accordion-toggle {
  color: #2e2e2e !important;
}
.fh5co-accordion .panel-heading.collapsed .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e61a";
  right: 15px;
  top: 16px;
}

/* Progress Bars */
.progress {
  height: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.progress-bar {
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.progress-bar.progress-bar-default {
  background: #28bbf8;
}
.progress-bar.progress-bar-success {
  background: #00e195;
}
.progress-bar.progress-bar-info {
  background: #0bbff2;
}
.progress-bar.progress-bar-warning {
  background: #ffd042;
}
.progress-bar.progress-bar-danger {
  background: #e02745;
}

/* Image Alignment */
img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a > img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fh5co-gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 6px;
  z-index: 18;
}
.fh5co-gotop > i {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */




body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background-image: -moz-linear-gradient( 136deg, rgb(153,204,255) 0%, rgb(128,128,128) 100%);
    background-image: -webkit-linear-gradient( 136deg, rgb(153,204,255) 0%, rgb(128,128,128) 100%);
    background-image: -ms-linear-gradient( 136deg, rgb(153,204,255) 0%, rgb(128,128,128) 100%);
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v7-content  {
	width: 910px;
	margin: 175px 0;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.form-v7-content .form-left {
	position: relative;
	color: #fff;
	font-weight: 400;
    width: 92.5%;
    margin-top: 32px;
}
.form-v7-content .form-left img {
	width: 100%;
}
.form-v7-content .form-left .text-1,
.form-v7-content .form-left .text-2 {
	position: absolute;
	text-align: center;
	width: 100%;
}
.form-v7-content .form-left .text-1 {
	font-size: 38px;
	top: 1.5%;
}
.form-v7-content .form-left .text-2 {
	font-size: 16px;
	bottom: 11%;
}
.form-v7-content .form-left .text-2::after {
	position: absolute;
	content: "";
	background: #fff;
	height: 1px;
	width: 228px;
	bottom: -50%;
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	opacity: 0.5;
}
.form-v7-content .form-detail {
    padding: 73px 80px 41px;
	position: relative;
	width: 100%;
	background: #fff;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.form-v7-content .form-detail .form-row {
    width: 100%;
    position: relative;
}
.form-v7-content .form-detail .form-row label {
	color: #666;
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 3px;
	font-family: 'Open Sans', sans-serif;
}
.form-v7-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 35%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}
.form-v7-content .form-detail .form-row label#valid::after {
	content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-v7-content .form-detail .form-row label.error {
	padding-left: 0;
	margin-left: 0;
    display: block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background: none;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.form-v7-content .form-detail .form-row label.error::after {
    content: "\f343";
    font-family: "LineAwesome";
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -25px;
    color: red;
    font-size: 18px;
    font-weight: 900;
}
.form-v7-content .form-detail .input-text {
	margin-bottom: 28px;
}
.form-v7-content .form-detail input {
	width: 100%;
    padding: 5px 15px 10px 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    box-sizing: border-box;
    -o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.form-v7-content .form-detail .form-row input:focus {
	border-bottom: 2px solid #2bb33e;
}
.form-v7-content .form-detail .register {
	background: #373be3;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 180px;
	border: none;
	margin: -13px 0 50px 0px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	float: left;
}
.form-v7-content .form-detail .register:hover {
	background: #2a2cb0;
}
.form-v7-content .form-detail .comercio {
	background: #23baca;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 180px;
	border: none;
	margin: -13px 0 50px 0px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	float: left;
}
.form-v7-content .form-detail .comercio:hover {
	background: #23baca;
}
.form-v7-content .form-detail .form-row-last {
    margin-top: 35px;
}
.form-v7-content .form-detail .form-row-last input {
	padding: 15px;
}
.form-v7-content .form-detail .form-row-last p {
	font-weight: 600;
	font-size: 14px;
	color: #666;
	margin-left: 200px;
}
.form-v7-content .form-detail .form-row-last a {
	font-size: 16px;
	color: #373be3;
	padding-left: 15px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	.form-v7-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v7-content .form-left {
		width: 100%;
		margin-bottom: -5px;
	}
	.form-v7-content .form-detail {
		padding: 50px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {
	.form-v7-content .form-detail {
		padding: 30px 20px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		float: none;
		margin-bottom: 10px;
	}
	.form-v7-content .form-detail .form-row-last p {
	    margin-left: 0px;
	    margin-bottom: 50px;
	}
}