<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink=''>CCV Comerciante</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="btn btn-dark " routerLink="add-prod">Agregar Producto</button>
        <button type="button" class="btn btn-dark" routerLink='updateInfo'>Actualizar perfil</button>
        <button type="button" class="btn btn-dark" (click)="cerrarSesion()">Cerrar Sesion</button>
        <button type="button" class="btn btn-dark" routerLink='reportes'>Reportes</button>
    </nav>
</div>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>
