<!-- Si se envia una imagen url se utiliza la siguiente implementacion: -->
<div *ngIf="imagen">
    <img class = "profile_picker" style="width: 500px; height: 500px;" [src]="imagen" (click)="onClick()">
</div>
<input type="file" id="fileUpload" name="fileUpload" multiple="multiple"
   accept="{{accept}}" style="display:none;"/>
