<div class="dark">
    <script src="node_modules/chart.js/src/chart,js"></script>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <br> <br>
    <div class="container">
        <div class="nav nav-tabs">
            <li class="nav-item">
                <h3>REPORTES</h3>
                <br><br>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active"  data-toggle="pill" routerLink="/producto-vendido" role="tab"  aria-selected="true">Producto mas vendido</a>
                    <a class="nav-link active"  data-toggle="pill" routerLink="/categoria-vendida" role="tab"  aria-selected="true">Categoria mas vendida</a>
                    <a class="nav-link active"  data-toggle="pill" routerLink="/clientes-frecuente" role="tab"  aria-selected="true">Cliente frecuente</a>
                    <a class="nav-link active"  data-toggle="pill" routerLink="/venta-mes"  aria-selected="true">Ventas por mes (Q)</a>
                </div>
            </li>
        </div>
    </div>
</div>

