<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="navbar-brand">CCV Administrador</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive = "active">
        <li class="nav-item active">
          <a class="nav-link" (click)= "goHome()" routerLink=''>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)= "limpiarnoti()" routerLink="notificaciones">Notificaciones  <span class="badge badge-dark">{{numNotificaciones}}</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administracion<span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)= "traer_solicitudes()"  routerLink="departamentos">Departamentos</a>
            <a class="dropdown-item" (click)= "traer_solicitudes()" routerLink="categorias">Categorias</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)= "traer_solicitudes()"  routerLink="productos">Productos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)= "traer_solicitudes()" routerLink="pedidos">Pedidos  <span class="badge badge-dark">{{numPedidos}}</span></a>
        </li>
        <li>           <app-searchbar></app-searchbar>         </li>
      </ul>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)='cerrarSesion()'>Salir</button>
    </div>
  </nav>
