<section id="cover" class="min-vh-100">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                  <form class="form-horizontal" method="post">
                      <fieldset>
                          <legend class="text-center header">Agregar Producto</legend>
  
                          <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-archive bigicon"></i></span>
                            <div class="col-md-8">
                                <input  [(ngModel)]="producto.nombre"  name="a" type="text" size="65" placeholder="Nombre">
                            </div>
                        </div>
                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-dollar bigicon"></i></span>
                              <div class="col-md-8">
                                  <input  [(ngModel)]="producto.precio" name="aa" type="number" size="65" placeholder="Precio">
                              </div>
                          </div>
                          <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-truck bigicon"></i></span>
                            <div class="col-md-8">
                                <input [(ngModel)]="producto.cantidad" name="aaa" type="number" size="65" placeholder="Cantidad">
                            </div>
                        </div>
                          <div class="form-group">
                              <div class="col-md-12 text-center">
                                  <button type="submit" class="btn btn-primary btn-success" (click)="add_Producto()">Guardar</button>
                                  <button type="submit" class="btn btn-primary btn-danger " (click)="salir()">Cancelar</button>
                              </div>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </section>
  
  <app-inicio-comerciante></app-inicio-comerciante>