<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink=''>CCV Usuario</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <button type="button" class="btn btn-dark" routerLink='carrito'> 
        <span class="fa fa-shopping-cart fa-lg"> Carrito</span>
       </button>
      
      <app-searchbar></app-searchbar>

      <button type="button" class="btn btn-dark">Cerrar Sesion</button>
      
  </nav>
</div>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
