<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-7 colorway1" *ngIf = "tienda">
            <h1>Actualiza la informacion</h1>
            <div class="mb-3">
                <label for="tnombre" class="form-label">Nombre de la tienda</label>
                <input #tnombre type="text" class="form-control" id="tnombre" placeholder="{{tienda.nombre}}">
              </div>
              <div class="mb-3">
                <label for="tslogan" class="form-label">Slogan</label>
                <textarea #tslogan class="form-control" id="tslogan" rows="3" placeholder="{{tienda.slogan}}"></textarea>
              </div>
              <div class="mb-3">
                <label for="tdesc" class="form-label">Descripcion</label>
                <textarea #tdesc class="form-control" id="tdesc" rows="5" placeholder="{{tienda.descripcion}}"></textarea>
              </div>
              <button class="btn btn-info" style="margin-bottom: 10px;" (click)='actualizar(tnombre.value,tslogan.value,tdesc.value,"")'>Actualizar</button>
        </div>
        <div class="col-sm-5">
          <div class="card" style="width: 2rem; margin-top: 10px;">           
            <app-file-upload [imagen]="image" (complete)="refresh($event)"></app-file-upload>
          </div>
            <div *ngIf='actualizado' class="alert alert-info alert-dismissible fade show" style="width: 27rem; margin-top: 15px; margin-bottom: 15px;" role="alert"> Informacion Actualizada</div>
            <div *ngIf='error' class="alert alert-danger alert-dismissible fade show" style="width: 27rem; margin-top: 15px;" role="alert"> No se pudo actualizar</div>
        </div>
    </div>
</div>
