<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link type="text/css" rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/nouislider.min.css"/>
    <link rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://renato776.github.io/ccv-assets/css/style.css"/>
  
</head>

<!-- productos -->
<div class="section" *ngIf="productos.length > 0">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">PRODUCTOS</h3>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!--  Buttons    -->
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-danger" (click)="limpiar_carrito()">Limpiar</button>
                <button type="submit" class="btn btn-success" routerLink='../formulario' style="margin-left: 10px;">Enviar Pedido</button>
            </div>

            <!-- Alert -->
            <div class="container-fluid">
                <div class="row">
            
                    <div class="col-md-10 col-md-offset-1">
                        <div class="collapse" id="collapseExample">
                            <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                              Modificado Correctamente
                            </div>
                        </div>
                    </div>
            
              </div>
            </div>

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <table>
                                    <ng-container *ngFor= "let producto of productos">
                                        <div class="col-md-4 col-xs-6">
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="{{producto.imagen}}" height="300" width="300">
                                                </div>
                                                <div class="product-body">
                                                    <h1 class="product-name"><a href="#">{{producto.nombre}}</a></h1>
                                                    <h5 class="productcantidad">Cantidad</h5>
                                                    <div class="product-btns">
                                                        <input class="form-control" type="number" 
                                                        [(ngModel)]="producto.cantidad"
                                                        [min]="1" [max]="producto.cantmax"
                                                        placeholder="Ingrese la cantidad que desea" height="100">
                                                    </div>
                                                    <h4 class="product-price"><h5>Precio Unitario</h5>Q {{producto.precio}}</h4>
                                                    <div class="product-btns">
                                                        <button class="add-to-wishlist" data-toggle="collapse" role="button" (click)="modificar_cantidad(producto)" >
                                                          <i class="fa fa-pencil"></i></button>
                                                        <button class="add-to-wishlist" (click)="eliminar_producto(producto)">
                                                          <i class="fa fa-times" aria-hidden="true"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </table>
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">GRUPO #5</h3>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="https://renato776.github.io/ccv-assets/js/jquery.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/bootstrap.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/slick.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/nouislider.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/jquery.zoom.min.js"></script>
<script src="https://renato776.github.io/ccv-assets/js/main.js"></script>
