<div class="dark">
    <h1 class="texto"> ADMINISTRARCION CATEGORIAS</h1>
    
    <div class="container">
        <div class="row space">
            <div class="card" style="width: 75rem; margin-left: 15px;">
                <div class="card-body">
                  <h3>Nueva categoria</h3>
                        <div class="row mb-3">
                          <label for="newNombre" class="col-sm-2 col-form-label">Nombre</label>
                          <div class="col-sm-10">
                            <input #newnombre type="text" class="form-control" id="newNombre">
                          </div>
                        </div>
                        <button type="button" (click)="agregar(newnombre.value)" class="btn btn-success" >Crear</button>
                </div>
              </div>
        </div>
        <div class="row space" *ngIf='actualizando'>
            <div class="card customCard2" style="width: 75rem; margin-left: 15px;">
                <div class="card-body">
                  <h3>Actualizar categoria</h3>
                        <div class="row mb-3">
                          <label for="UpNombre" class="col-sm-2 col-form-label">Nombre</label>
                          <div class="col-sm-10">
                            <input #upnombre type="text" class="form-control" id="UpNombre">
                          </div>
                        </div>
                        <button type="button" (click)="actualizar(upnombre.value)" class="btn btn-success" >Actualizar</button>
                </div>
              </div>
        </div>
        <div class="row space">
            <div class="col-sm-7">
                <div class="list-group" *ngFor='let cat of categorias'>
                    <a  class="list-group-item list-group-item-action" aria-current="true">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{cat}}</h5>
                      </div>
                      <hr>
                      <button class="btn btn-info sidespace" (click)='verActualizar(cat)'>Actualizar</button>
                      <button class="btn btn-danger sidespace" (click)='eliminar(cat)'>Eliminar</button>
                    </a>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card customCard" style="width: 27rem;">
                    <div class="card-body">
                      <h5>Categorias disponibles</h5>
                      <h1>{{categorias.length}}</h1>
                    </div>
                  </div>
                  <div *ngIf='actualizado' class="alert alert-info alert-dismissible fade show vertspace" style="width: 27rem;" role="alert">
                    Categoria Actualizada
                  </div>
                  <div *ngIf='eliminado' class="alert alert-warning alert-dismissible fade show vertspace" style="width: 27rem;" role="alert">
                    Categoria Eliminada
                  </div>
            </div>
        </div>
    </div>
</div>