<div class="dark">
    <h1>REPORTES</h1>
    <script src="node_modules/chart.js/src/chart,js"></script>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <br> <br>
    <div class="container">
        <div class="card mx-auto" style="width: 15rem;">
            <div class="nav nav-tabs">
                <li class="nav-item">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active"  data-toggle="pill" role="tab"  aria-selected="true">Total Pedidos: <span #ipId id="ipId" style="font-size: xx-large;"></span></a>
                        <a class="nav-link active"  data-toggle="pill" routerLink="/tienda-mayor-venta" role="tab"  aria-selected="true">Tienda que mas vende</a>
                        <a class="nav-link active"  data-toggle="pill" routerLink="/productos-vendidos" role="tab"  aria-selected="true">Producto mas vendido</a>
                        <a class="nav-link active"  data-toggle="pill" routerLink="/clientes-valor" role="tab"  aria-selected="true">Clientes de mayor compra(precios)</a>
                        <a class="nav-link active"  data-toggle="pill" routerLink="/clientes-cantidad"  aria-selected="true">Clientes de mayor compra(cantidad)</a>
                        <a class="nav-link active"  data-toggle="pill" routerLink="/cantidad-ano"  aria-selected="true">Pedidos anuales</a>
                        <a class="nav-link active"  data-toggle="pill" routerLink="/cantidad-mes" role="tab"  aria-selected="true">Pedidos por mes</a>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>

