<section id="cover" class="min-vh-100">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                  <form class="form-horizontal" method="post">
                      <fieldset>
                          <legend class="text-center header">Modificar Producto</legend>
  
                          <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-archive bigicon"></i></span>
                            <div class="col-md-8">
                                <input  [(ngModel)]="productos.nombre"  name="a" type="text" size="65" placeholder="Nombre">
                            </div>
                        </div>
                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-dollar bigicon"></i></span>
                              <div class="col-md-8">
                                  <input  [(ngModel)]="productos.precio" name="aa" type="number" size="65" placeholder="Precio">
                              </div>
                          </div>
                          <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-truck bigicon"></i></span>
                            <div class="col-md-8">
                                <input [(ngModel)]="productos.cantidad" name="aaa" type="number" size="65" placeholder="Cantidad">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-list-alt bigicon"></i></span>
                            <div class="col-md-8">
                                <label class="switchLabel" *ngFor= "let categorias of categorias">
                                    <input type="checkbox" name="bbb" (change)="checkCheckBoxvalue(categorias)" class="switch"/>
                                    <span class="right">{{categorias}}</span>
                                </label>   
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-rocket bigicon"></i></span>
                            <div class="col-md-8">
                                <select name="jk" class="browser-default custom-select" (change)="selectOption($event.target.value)" [(ngModel)]="selected">
                                    <option *ngFor='let dep of departamentos' [value]="dep">{{dep}}</option>
                                  </select>
                            </div>
                        </div>

                        <div class="card mxauto" style="width: 50%; display: block; margin-left: auto; margin-right: auto;">           
                            <app-file-upload [imagen]="image" (complete)="refresh($event)"></app-file-upload>
                        </div>

                          <div class="form-group">
                              <div class="col-md-12 text-center">
                                  <button type="submit" class="btn btn-primary btn-success" (click)="update_producto()" >Modificar</button>
                                  <button type="submit" class="btn btn-primary btn-danger " (click)="salir()">Cancelar</button>
                              </div>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </section>
  
    <app-grid-component
        [productos]="t_productos" [tiendas]="[]" [is_admin]="true"
        (product_edit)="updateProducto($event)" (product_delete)="eliminarProducto($event)"
    ></app-grid-component>
