<div class="dark">
    <h2 class="texto">Solicitudes de nueva tienda</h2>
    <div class="row">
        <div *ngFor="let solicitud of solicitudes" class="col-sm-3">
            <div class="card space" style="width: 20rem;">
                <div class="card-header">
                    Nueva Solicitud
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{solicitud.nombre_tienda}}</h2>
                    <h5 class="card-subtitle mb-2 text-muted">{{solicitud.nombre_propietario}}</h5>
                    <p class="card-text">{{solicitud.descripcion}}</p>
                    <hr>
                    <p class="card-text">E-mail: {{solicitud.correo}}</p>
                    <p class="card-text">Telefono: {{solicitud.telefono}}</p>
                    <button (click)="enviar(1,solicitud.correo, solicitud.nombre_tienda, solicitud.nombre_propietario, solicitud.descripcion, solicitud.telefono)" class="btn btn-success space">Aceptar</button>
                    <button (click)="enviar(0,solicitud.correo,  solicitud.nombre_tienda, solicitud.nombre_propietario, solicitud.descripcion, solicitud.telefono)" class="btn btn-danger space">Rechazar</button>
                </div>
            </div> 
        </div>
    </div>
</div>
