<div class="dark">

    <h1 class="texto"> Envios pendientes </h1>
    <div class="row">
        <div *ngFor="let pedido of pedidos" class="col-sm-3">
            <div class="card space card10" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Pedido No. {{pedido.id}}</h5>
                  <hr>
                  <h6 class="card-subtitle mb-2">Cliente: {{pedido.usuario}}</h6>
                  <p class="card-text">Total Q. {{pedido.valor}}</p>
                  <p class="card-text">Fecha: {{pedido.fecha}}</p>
                  <div  *ngIf='number == pedido.id'>
                    <div *ngFor="let pdt of pedido.detalle">
                        <p style="color: black;"><b>Producto:</b> {{pdt.producto}} </p>
                        <p style="color: black;"><b>Cantidad:</b> {{pdt.cantidad}}</p>
                        <p style="color: black;"><b>Precio Unitario:</b>{{pdt.precio}}</p>
                        <p style="color: black;"><b>Subtotal:</b> {{pdt.cantidad*pdt.precio}}</p>
                        <hr>
                      </div>
                  </div>
                  <hr>
                  <button class="btn btn-success space" (click)='confirmar(pedido.id,pedido.usuario,pedido.correo,pedido.detalle)'>Enviar</button>
                  <button class="btn btn-info space" (click)='number=pedido.id'>Ver detalle</button>
                </div>
              </div>
        </div>
    </div>
    <div *ngIf='enviado' class="alert alert-success alert-dismissible fade show vertspace" style="width: 40rem;" role="alert">
      Se confirmo el envio :)
  </div>
  <div *ngIf='error' class="alert alert-danger alert-dismissible fade show vertspace" style="width: 40rem;" role="alert">
      Hubo un error al confirmar el envio :(
  </div>
    <hr>

    <h1 class="texto"> Historial de pedidos </h1>
    <div class="row">
        <div *ngFor="let pedido of historial" class="col-sm-3">
            <div class="card space card11" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Pedido No. {{pedido.id}}</h5>
                  <hr>
                  <h6 class="card-subtitle mb-2">Cliente: {{pedido.usuario}}</h6>
                  <p class="card-text">Total Q. {{pedido.valor}}</p>
                  <p class="card-text">Fecha: {{pedido.fecha}}</p>
                </div>
              </div>
        </div>
    </div>
</div>
