<br><br>
&#09;
<div style="text-align: center;">
    <h2>Tiendas con Mayores Ventas</h2>
</div>
<br>
<div class="card mx-auto" style="width: 65rem">
    <div style="text-align: center;" >
        <div class="center" style="display: block; position: relative; height:75vh; width:150vh; ">
            <canvas baseChart 
                [datasets]="ChartData"
                [labels]="ChartLabel"
                [options]="totalPedidosOptions"
                [legend]="totalPedidosLegend"
                [chartType]="totalPedidosType"
                [colors]="totalPedidosColor"></canvas>
        </div>
    </div>
</div>
